/target
libs/*/target
/lib
/classes
/checkouts
pom.xml
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.nrepl-port
*~
docs/
/libs/axiom-cljs/resources/public/cljs
/libs/axiom-cljs/out/
figwheel_server.log

